---
layout: default
title:  SWIFT-HEP home page
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

 <div class=row>
      <div class="col-md-4">
            <img src="{{ '/images/swift-HEP.png' | relative_url }}" alt="HSF Logo" width="30%">
          </div>
          <div class="col-md-8">
            <p class="lead">
              SWIFT-HEP is a project funded by <a href="https://stfc.ukri.org/">STFC</a> to contribute to the development of software for High Energy Physics experiments.

</p>
      </div>

<div class="row">

 <div class="col-lg-4">
  <h2>Work packages</h2>
SWIFT-HEP is organised in 5 work packages:
<ol>
  <li> Intellingent data and workflow management
  <li> Event generators
  <li> <a href="/simulation"> Simulation </a>
  <li> Reconstruction and trigger
  <li><a href="{{ site.baseurl }}/workpackages/wp5_analysis.html">Analysis systems</a></li>
</ol>

</div>

<hr>

 <div class="col-lg-4">

<h2>Meetings</h2>
Meetings are held on a monthly basis to focus on a specific topic. They are typically one-hour long on a Friday afternoon. <br>
Conveners of the 5 work packages meet every 4 weeks to plan future work <br>
See the <a href="https://indico.cern.ch/category/11790/"> Indico category for full details </a> 
<br>
Workshops are organised every six months for the community to get together. 

<hr>
 <div class="col-lg-4">
 <h2>Organisation</h2>
Write something here, link to HSF, etc

<hr>
 <div class="col-lg-4">
  <h2>Activities</h2>
A C++ training is planned in 2022. This will follow the <a href="https://sidis.web.cern.ch/activities"> SIDIS </a> curriculum. Details to follow soon. <br>
A proposal to participate to the NVIDIA hackathon is being submitted by the Optix team.
</div>



<hr>
<h2> News and announcements </h2>

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h3 class="post-list-heading">{{ page.list_title }}</h3>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}


</div>
