{{ define "main" }}
<div class="container">
    <hr class="separator">
    <div class="row">
        <div class="col">
            {{ partial "news" . }}
        </div>
    </div>
    <hr class="separator" />
    <div class="row">
        <div class="col">
            <h2>Overview</h2>
            To exploit the full physics potential offered by the large data sets collected by the next-generation experiments, new software and algorithmic techniques are required to handle their production rate, volume, and complexity. <br>
This need has led to an international roadmap for software development and the establishment of the HEP Software Foundation (<a href="https://hepsoftwarefoundation.org/">HSF</a>) to address problems that are common across HEP experiments. <br>
SWIFT-HEP is a project funded by <a href="https://stfc.ukri.org/">STFC</a> as a UK contribution to the development of software for High Energy Physics experiments. <br>
 (<a href="{{ .Site.Home.Permalink }}/overview/">More details</a>).
        </div>
        <div class="col">
            {{ partial "workpackages" . }}
        </div>
    </div>
    <hr class="separator">
    <div class="row">
        <div class="col">
            <h2> Activities </h2>
            SWIFT-HEP provides a platform for the community to interact on software development topics. Workshops are held twice a year, and 
            topical meetings are held on a monthly basis. See the <a href="https://indico.cern.ch/category/11790/">Indico category for full details</a>. <br><br>
            Training activities are also planned following the <a href="https://sidis.web.cern.ch/activities">SIDIS</a> curriculum.
        </div>
        <div class="col">
            <h2>Organisation</h2>
            The SWIFT-HEP coordinator is <a href="mailto:davide.costanzo@cern.ch"> Davide Costanzo </a> (Sheffield) and deputy <a href="mailto:conor.fitzpatrick@cern.ch ">Conor Fitzpatrick</a> (Manchester). <br>
            Each work package has two conveners who meet every four weeks. <BR>
            An advisory board comprised by the UK spokespersons of the major HEP experiments oversees the activity of the project. <br>
            <a href="{{ .Site.Home.Permalink }}/organisation/"> More details </a> 

        </div>
    </div>
</div>
<br> <br>
{{ end }}
